.hero {
  padding: 74px 16px 88px;
}

.heroBubble {
  position: absolute;
  left: 64%;
  top: -3%;
}

.heroImage {
  box-sizing: content-box;
  width: 96px;
  height: 96px;
  border: 16px solid #f6f9fd;
  border-radius: 50%;
}

.heroHeader {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: var(--textDark);
  margin: 30px 0 20px;
}

.heroParagraph {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 48px;
}

.heroLink {
  font-weight: bold;
  color: var(--lightBlue);
  text-decoration: none;
}

.heroContact {
  border-radius: 64px;
  color: #fff;
  background-color: var(--lightBlue);
  display: inline-block;
  padding: 4px 24px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
}

.heroImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heroHello {
  display: none;
}

.heroSpecial {
  color: var(--blues);
}

.heroDesc {
  text-align: center;
}

@media (min-width: 768px) {
  .hero {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .heroHello {
    display: block;
    background: var(--blue);
    color: #fff;
    padding: 16px 19px;
    border-radius: 16px;
    font-weight: bold;
    font-size: 32px;
    position: relative;
  }
  .heroHello::after {
    content: "";
    position: absolute;
    top: 94%;
    left: 9%;
    display: block;
    width: 17px;
    height: 22px;
    background: url("../img/speech.svg") no-repeat center;
  }
  .heroImage {
    width: 188px;
    height: 188px;
    border: 24px solid #f6f9fd;
  }
  .heroHeader {
    font-size: 32px;
    line-height: 40px;
  }
  .heroParagraph {
    font-size: 20px;
    line-height: 40px;
  }
}
