.github {
  height: 24px;
  width: 24px;
  /* margin-bottom: 10px; */
}

.projects {
  padding: 64px 16px 88px;
}

.projectsDesc {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 46px;
  max-width: 786px;
  margin: 20px auto 30px;
}

.projectsHeader {
  font-size: 36px;
  line-height: 48px;
  color: var(--textDark);
  text-align: center;
}

.project {
  background: var(--gray);
  overflow: hidden;
  border-radius: 16px;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--lightGray);
  font-family: Roboto Mono;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.projectGridDesc {
  margin-bottom: 24px;
}

.projectContent {
  padding: 24px 16px;
}

.projectWindows {
  height: 40px;
  background: var(--darkGray);
  display: flex;
  align-items: center;
  padding: 0 0 0 16px;
}

.projectCircle {
  display: block;
  width: 8px;
  height: 8px;
  background: var(--mediumGray);
  border-radius: 50%;
  margin-right: 8px;
}

.projectGrid {
  display: grid;
  grid-template-columns: 102px 1fr;
  column-gap: 10px;
  padding: 5px 0 5px;
}
.projectLabel {
  display: block;
  text-align: right;
  font-weight: normal;
  color: var(--projetGray);
}

.projectTitle {
  font-weight: bold;
  color: #fff;
  font-size: 13px;
  line-height: 24px;
  margin-top: 24px;
}

.projectLink {
  color: var(--projectLink);
  text-decoration: none;
}

.projectsGrid {
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  max-width: 1184px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .projectsGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 960px) {
  .projectsDesc {
    font-size: 20px;
    line-height: 40px;
    margin: 30px auto 100px;
  }
  .projectsHeader {
    font-size: 48px;
    line-height: 56px;
  }
  .project {
    font-size: 16px;
    line-height: 24px;
  }
  .projectTitle {
    font-size: 16px;
    line-height: 24px;
  }
  .projectGrid {
    grid-template-columns: 116px 1fr;
  }
  .projectContent {
    padding: 24px 48px 82px;
  }
}
