.skills {
  background: var(--blue);
  color: #fff;
  padding: 64px 16px 88px;
}
.skillsHeader {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}
.skillsEmoji {
  margin-top: 64px;
  font-size: 64px;
  line-height: 64px;
  display: block;
  text-align: center;
}

.skillsSectionHeader {
  font-weight: bold;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  margin: 16px 0 24px;
}

.skillsList {
  font-style: normal;
  color: var(--lighterBlue);
  width: 288px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.skillsListItem {
  padding: 0 0 0 24px;
  margin: 0 0 16px;
  position: relative;
}

.skillsListItem::before {
  position: absolute;
  left: 0;
  top: 3px;
  content: "";
  width: 16px;
  height: 13px;
  background: url(../img/greenChaeck.svg) no-repeat center;
  display: block;
}

.skillsListItemBlue::before {
  background: url(../img/blueCheck.svg) no-repeat center;
}

.skillsListItemDot::before {
  background: var(--lighterBlue);
  top: 10px;
  left: 5px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}
